<h1>Vervoom#home</h1>
<ul><li><a href="/">Home</a></li>
<li><a href="/challenges">Challenges</a></li>
<li><a href="/nonprofits">Non Profits</a></li>
<li><a href="/sponsors">Sponsors</a></li>
<li><a href="/users/">Users</a></li>

<li><a href="/users/sign_out">Sign Out</a></li>
</ul>
<p>Find me in app/views/vervoom/home.html.erb</p>
